/* Styles for standard XHTML tags */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
  align-content: center;
  /* border: 1,solid; */
}

.cell {
  width: 16.66%;
  border: 2px solid black;
  padding: 5px;
}
.invisible-cell {
  border: none;
  width: 20%;
  padding: 15px;
  text-align: center;
}

select {
  width: 100%;
}

input[type="text"] {
  width: 100%;
}

/* Custom Styles */
.highlight {
  font-weight: bold;
  color: darkred;
}

.movie-title {
  font-weight: bold;
}

/* Additional Styles */
button {
  margin-top: 10px;
  padding: 5px 10px;
  font-size: 14px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
